.contact{
    display: flex;
    padding: 0 .2rem;
    /* align-items: center; */
    justify-content: space-around;
    min-height: 100vh;
    min-width: 100%;
    flex-grow: 1;
    
}
.wrapper {
    width: 60%;
    background: #fff;
    border-radius: 5px;

}
.wrapper header{
    font-size: 22px;
    font-weight: 600;
    padding: 20px 3px;
    border-bottom: 1px solid #bfbfbf;
}


.adress header{
    font-size: 22px;
    font-weight: 600;
    padding: 20px 3px;
    border-bottom: 1px solid #bfbfbf;
}
.wrapper form{
    margin: 3rem .5rem;
}
form .dbl-field {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    justify-content: space-between;

}
.dbl-field .field{
    height: 50%;
    position: relative;
    width: calc(100% / 2 - 13px);
}
.subject{
    width: 100%;
    padding:  12px 32px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    outline: none;
}
form .field input,
form .message textarea{
    height: 100%;
    width: 100%;
    outline: none;
    padding:  12px 32px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #bfbfbf;

}
.adress-label{
    height: 6%;
    width: 100%;
    outline: none;
    padding:  12px 2px;
    font-size: 18px;

}
.adress-label i{
    background: gray;

}
form .field input::placeholder,
form .subject::placeholder,
form .message textarea::placeholder{
    color: #bfbfbf;
}
form .field input:focus,.subject:focus,
form .message textarea:focus{
    border: 1px solid #0D6EFD;
}
.wrapper form i{
    position: absolute;
    left: 12px;
    top: 50%;
    color: #bfbfbf;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
}
form .field input:focus ~ i{
    color: #0D6EFD;
}
form .message{
    position: relative;
}
form .message i{
    top :30px;
    font-size: 20px;
}
form .message textarea{
    min-width: 100%;
    max-width:100%;
    min-height: 120px;
    max-height: 300px;
    padding: 15px 20px 0 48px;
}
form .button-area{
    margin: 25px 0;
    display: flex;
    align-items: center;
}

.button-area button{
    font-size: 18px;
    border: none;
    color: #17a2b8;;
    cursor: pointer;
    border-radius: 5px;
    background: transparent;
    border: solid 1px #17a2b8;;
    padding: 8px 25px;
    outline: none;
}
.button-area button:hover{
    color: #ffff;
    background: #17a2b8;
    border: solid 1px #17a2b8;
}
.button-area button:focus{
    color: #ffff;
    background: #17a2b8;
    border: solid 1px #17a2b8;
    outline: none;
}
.button-area span{
    color: #0D6EFD;
    margin-left: 30px;
    display: none;
}
@media(max-width:800px){
    .contact{
        flex-direction: column;
        padding: 0 2rem;
    }
    .wrapper {
        width: 100%;;
    
    }
   
    form .dbl-field{
        margin-bottom: 0px;
        flex-direction: column;
    }
    .dbl-field .field{
        width: 100%;
        margin-bottom: 20px;
    }
    form .message textarea{
        resize: none;
    }
    form .button-area{
        flex-direction: column;
    }
    .button-area button{
        width: 100%;
    }
    .button-area span{
        text-align: center;
        margin: 20px 0;
    }
    .subject{
        margin-bottom: 20px;
    }
}