/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
:root{
  --blue : #116f8c;
  --strongBlue:#095073;
}

.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: var(--blue);
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: var(--blue);
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: var(--blue);
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: var(--blue);
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #11101d;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: var(--blue);
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: var(--blue);
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: var(--blue);
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: relative;
  /* background: #E4E9F7; */
  /* min-height: 100vh; */
  /* top: 0; */
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
  /* margin-top: 0px; */
  
}
/* login */
.login-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  width: 100%;
  display: flex;
  
  
}
.header-login{
  position: absolute;
  width: 100%;
  height: 45vh;
  background: var(--strongBlue);
  z-index: 1;
}
.head-header-login{
  height: 10rem;
  width: 100%;
  background: var(--blue);

  
}
.input-text{
  padding: 0.5rem;
  margin-bottom: 0.6rem;
  border:solid 1px #dfdfdf;
  border-radius:5px;
  width: 100%;
  z-index: 2;
  display: flex;
}
#btn-signin{
  padding: 0.6rem 3rem;
  width: 100%;
  margin-top: 1rem;
  z-index: 1;
}

.login-content{
  width: 25rem;
  min-height: 22rem;
  padding: 3rem;
  background-color: white;
  margin: auto;
  box-shadow: 1px 0px 5px #b6b5b5;
  border-radius: 10px;
  z-index: 1;
}
.login-content h1{
  margin-bottom: 2rem;
  border-bottom: solid 1px #b6b5b5;
  padding-bottom:1rem ;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  /* display: inline-block; */
  color: #11101d;
  font-size: 12px;
  font-weight: 500;
  margin: 18px
}
/* ================ login css ============================ */

#errors-msg{
  border: solid 1px red;
  padding: .5rem;
  margin-top: 15px;
  border-radius: 5px;
  background-color: rgba(163, 7, 7, 0.1);
  color: red;
  list-style: none;
  font-size: 12px;
}

.home-section .container .content{
  min-width: 90%;
  min-height: 5rem;
  /* background-color: white; */
  margin: 2rem auto;
  border-radius: 8px;
  padding: 2rem;
}
.home-section .container .row-content-2{
  overflow: hidden;
  padding: 4rem;
}
.home-section .container .row-content-1{
  padding: 4px 4rem 0px;
  /* background-color: #116f8c; */
}

.user-present{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* flex-basis: 30%; */
}
.box_user{  
  min-height: 10rem;
  background-color: rgba(36, 118, 165, 0.2);
  min-width: 32% !important;
  padding: 10px;
  border-radius: 8px;
  border: solid 2px var(--blue);
}
.admin_name{  
  min-height: 9rem;
  background-color: var(--blue);
  min-width: 30% !important;
  padding: 12px;
  border-radius: 8px;
  border: solid 2px #fff;
  color: #fff;

}
.box-info{
  background-color: rgba(160, 220, 255,0.2);
  min-height: 14rem;
  margin: 20px 0px;
  border-radius: 8px;
  border: solid 1px var(--strongBlue);
}
@media(max-width:700px) {
  .box_user{  
    width: 100%;
    margin: 10px 0;
  }
  .home-section .container .row-content-2{
    overflow-x: auto;
    padding: 4rem;
  }
}